@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZipIt</h1>
    <p class="lead">A web tool to zip and unzip files</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start zipping or unzipping files please go to either Zip or Unzip in the menu.
        </p>
    </div>

</div>